<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    img {
      max-width: 10%;
      height: auto;
    }
    </style>
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Dealership Review</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </li>
          </ul>
        </div>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer_id %}">Add Review</a>
            <a class="btn btn-link" href="#">({{user.username}})</a>
            <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
          </li>
          {% else %}
          {% if message %}
            <div class="alert alert-warning">
              {{ message }}
            </div>
          {% endif %}
          <li>
            <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
              {% csrf_token %}
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Username" name="username">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <button class="btn btn-primary" type="submit">Login</button>
                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
              </div>
            </form>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Add reviews as cards -->
    <div class="container-fluid">
      <h2>Reviews for {{dealership_name}}</h2>
      <div class="card-columns">
        {% for review in review_list %}
        <div class="card">
          {% if review.sentiment == 'positive' %}
          <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" alt="positive">
          {% else %}
            {% if review.sentiment == 'negative' %}
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" alt="negative">
            {% else %}
            <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" alt="neutral">
            {% endif %}
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{review.car_model}},{{review.car_make}}</h5>
            <h5 class="card-title">{{review.car_year}}</h5>
            <p class="card-text">{{review.review}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    </body>

</html>
